header {
    text-align: center
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.comment{
    width: 40vw;
}
.chat {
    width: 20vw;
}

.item_comment {
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 40px;
    max-height: 40px;
}